body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
/* header */
header {
  background-color: #ffffff;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.logo {
  height: 25px;
}
.nav-bar-container {
  min-height: 60px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
}
header a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
  padding-bottom: 20px;
}
header a:hover {
  color: #000000;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  border-image-slice: 1;
}
.request-button {
  color: white;
  height: 50px;
  width: 170px;
  border: none;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  border-radius: 30px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
.request-button:hover {
  opacity: 0.7;
}
.humbarg-button {
  border: none;
  display: none;
}
.display-menu {
  display: none;
  position: absolute;
  padding: 20px;
  top: 90px;
  border-radius: 10px;
  box-shadow: 0px 80px 300px hsl(233, 8%, 62%);
}

@media all and (max-width: 991px) {
  header {
    margin-left: 40px;
    margin-right: 20px;
  }
  .logo {
    height: 30px;
  }
  .humbarg-button {
    display: inline;
    background-color: transparent;
    cursor: pointer;
  }
  .hamburger-image {
    height: 15px;
    width: 20px;
  }
  .nav-bar {
    display: none;
  }
  header .request-button {
    display: none;
  }
  .display-menu-card {
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 15px;
    align-self: center;
    display: flex;
    justify-content: center;
  }
  .display-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-display {
    display: none;
  }
}

/* container-1 contains main heading and backgroung image */

#container-1 {
  background-image: url("./images/image-mockups.png"),
    url("./images/bg-intro-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 50%;
  background-position: top 40% right -10%;
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  background-color: hsl(0, 0%, 98%);
  padding-bottom: 30px;
}

.heading-container {
  max-width: 40%;
  align-self: center;
  padding-bottom: 40px;
}
@media all and (min-width: 769px) and (max-width: 991px),
  (not (min-width: 992px)) {
  #container-1 {
    background-image: url("./images/image-mockups.png"),
      url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 50%, 100% 50%;
    background-position: top -100px right 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .heading-container {
    max-width: none;
    padding-top: 350px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading {
    text-align: center;
  }
}
.heading {
  color: rgb(77, 75, 75);
  font-size: 60px;
  font-weight: lighter;
  margin-bottom: 0;
}
.para {
  color: hsl(233, 8%, 62%);
  font-family: "Public Sans";
  line-height: 28px;
}

/* container-2 contains why choose us section*/

#container-2 {
  background-color: hsl(220, 16%, 96%);
  padding-left: 150px;
  padding-right: 150px;
}
#container-2 h1,
#container-3 h1 {
  margin-top: 0px;
  color: rgb(77, 75, 75);
  font-size: 40px;
  font-weight: lighter;
  padding-top: 30px;
}
.features-container {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  padding-top: 40px;
}

@media all and (max-width: 991px) {
  #container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .container-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .each-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#container-2 h3,
#container-3 h4 {
  color: rgb(77, 75, 75);
  font-weight: lighter;
}
.feature-para,
.article-para {
  font-size: 15px;
  line-height: 22px;
}

/* container-3 contains latest articles*/

#container-3 {
  background-color: hsl(0, 0%, 98%);
  margin-left: 150px;
  padding-right: 150px;
}
.all-articles-container {
  display: flex;
  justify-content: space-evenly;
  gap: 35px;
}
.article-image {
  height: 220px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.author {
  font-size: 13px;
}
.article-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 22%;
}
.article-data {
  padding: 0 20px 15px 20px;
}
#container-3 h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}
#container-3 h4:hover {
  color: hsl(136, 65%, 51%);
}
@media all and (max-width: 991px) {
  #container-3 {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
  }

  .all-articles-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
  }
  .article-container {
    width: 100%;
  }
}

/* footer styling*/

#footer {
  padding: 20px 150px 20px 150px;
  background-color: hsl(233, 26%, 24%);
}
#footer a:hover {
  background-color: hsl(136, 65%, 51%);
  fill: hsl(136, 65%, 51%);
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-menu {
  display: flex;
}
.footer-items p:hover {
  color: hsl(136, 65%, 51%);
}
.logo-icons-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.icons-container {
  display: flex;
  gap: 15px;
}
.icon {
  height: 30px;
  width: 30px;
}

#footer p {
  color: white;
}
#footer p:hover {
  color: hsl(136, 65%, 51%);
}
.footer-item:hover {
  color: hsl(136, 65%, 51%);
}
@media all and (max-width: 991px) {
  #footer {
    padding: 30px 0px 30px 0px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .icons-container {
    justify-content: center;
  }
  .footer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .footer-logo {
    height: 60px;
    width: 250px;
    align-self: center;
  }
}
